dist: trusty
sudo: required
addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
    - postgresql-client-10

before_script:
    # Use default port
    - sudo sed -i 's/port = 5433/port = 5432/' /etc/postgresql/10/main/postgresql.conf
    # Use 9.6 auth config:
    - sudo cp /etc/postgresql/{9.6,10}/main/pg_hba.conf
    - sudo service postgresql restart
language: go
go:
  - "1.9"
  - "1.10.x"
services:
  - docker
env:
  - DOCKER_COMPOSE_VERSION=1.20.1 GS_VERSION=2.13.0
  - DOCKER_COMPOSE_VERSION=1.20.1 GS_VERSION=2.14.0

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - sudo apt-get install realpath -y
  - docker-compose build --build-arg GEOSERVER_VERSION=${GS_VERSION}
  - docker-compose up -d
  - docker ps
  - chmod +x ./scripts/*.sh
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
script:
  -  bash -c "./scripts/restore_layer.sh && ./scripts/entry.sh"