dist: xenial
sudo: required
addons:
  postgresql: "11"
  apt:
    packages:
      - postgresql-11
      - postgresql-client-11

before_script:
  # Use default port
  - sudo sed -i 's/port = 5433/port = 5432/' /etc/postgresql/11/main/postgresql.conf
  # Use 9.6 auth config:
  - sudo cp /etc/postgresql/{9.6,11}/main/pg_hba.conf
  - sudo service postgresql restart
language: go
go:
  - "1.14.x"
  - "1.15.x"
  - "1.16.x"
services:
  - docker
env:
  - DOCKER_COMPOSE_VERSION=1.20.1 GS_VERSION=2.13.0 GO111MODULE=on
  - DOCKER_COMPOSE_VERSION=1.20.1 GS_VERSION=2.14.0 GO111MODULE=on

install: true

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - sudo apt-get install realpath -y
  - docker-compose build
  - docker-compose up -d
  - docker ps
  - chmod +x ./scripts/*.sh
  - go mod download
  - go mod verify
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
script:
  - bash -c "./scripts/restore_layer.sh && ./scripts/entry.sh"
